/* common styles */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  border-radius: 5px;
  background: #fff;
  border: none;
  padding: 10px;
  margin-top: 32px;
}
.section-description {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
}
.section-title {
  color: #151414;
  margin-bottom: 24px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* header related styles */
header {
  background-image: url("images/banner/banner3.png");
  height: 808px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
  align-items: center;
  display: flex;
  justify-content: right;
  padding-right: 230px;
}
.banner-title {
  color: #fff;
  font-size: 58px;
  font-weight: 700;
  max-width: 500px;
  margin-bottom: 20px;
}
.banner-description {
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  max-width: 500px;
}
/* main section styles */
main {
  max-width: 1200px;
  margin: 0px auto;
}
.failure {
  display: flex;
  justify-content: center;
  margin-top: 140px;
  align-items: center;
}
.failure-section {
  max-width: 400px;
  margin-left: 80px;
}
.failure-list {
  list-style: none;
  margin-top: 16px;
}
.goals-container {
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
}

.plans {
  margin-top: 200px;
  text-align: center;
}
.goals-title {
  color: #151414;
  font-size: 25px;
  font-weight: 700;
}
.goals > p {
  color: #737272;

  font-size: 20px;
  font-weight: 500;
}
.watch-section {
  background-image: url("images/gradient1.png"), url("images/watch.png");
  background-repeat: no-repeat;
  height: 300px;
  margin: 100px 0px;
}
#watch-title {
  color: #fff;
  margin-bottom: 0px;
}
.watch-section > div {
  padding: 60px 0px 60px 60px;
  max-width: 450px;
}
.watch-section > div > button {
  padding: 15px;
  margin-top: 20px;
}
/* footer style */
footer {
  background-color: #151414;
  padding: 130px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
footer div {
  max-width: 452px;
}
.footer-title {
  color: #f8f8f8;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer-sub-title {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.footer-description{
    color: #FFF;
font-size: 16px;
font-weight: 300;
margin: 20px 0px;
}
footer div img{
    margin: 5px 10px 0px 0px;
    width: 30px;
}
footer div input[type="email"]{
    background-color: transparent;
    border: 1px solid white;
    height: 50px;
    border-radius: 5px;
    margin: 25px 0px 15px 0px;
}
footer div input[type="submit"]{
    display: block;
    color: #FFF;
font-size: 15px;
font-weight: 600;
padding:10px 25px ;
color: #151414;
background-color: #005FAC;
border: none;
border-radius: 8px;

}